<h1>Shopping Cart</h1>

<table>
<tr>  <th>Item name</th> 	<th>price</th> 	<th>quantity</th>  </tr>

<% @cart._payplug_items.each do |item| %>
  <tr>
	<td><%= item.item_name %></td> 
	<td><%= item.item_quantity %></td> 
	<td><%= item.item_price %></td>
  </tr>	 
<% end %>	
</table>

<div>
	total: <%= @cart.total_amount %>
</div>

<div class="paypal form">
	<%= render :partial => "paypal_form" %>
</div>

<div class="google_checkout form">
	<%= render :partial => "google_checkout_form" %>
</div>

<div class="amazon_checkout form">
	<%= render :partial => "amazon_checkout_form" %>
</div>